.App {
  text-align: center;
  padding: 100px;
}

body {
  background-color: cornsilk;
}
h1 {
  color: #333;
  font-family: 'Gugi', cursive;
  font-family: 'Handjet', cursive;
  font-family: 'Moirai One', cursive; 
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

#loginform {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(100, 136, 254);
  border-radius: 10px;
  margin: 0 auto;
  width: 400px;
  max-width: 300px;
}

input {
  margin-bottom: 10px;
}

#loginbtn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #024388;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 10px;

}